---
layout: default
---

<div class="command-line">
    <span class="cmd-prompt">guest@tomer:~$</span>
    <span class="cmd-command">cat</span>
    <span class="cmd-args">~/projects/{{ page.project_slug }}/insights/{{ page.title | slugify }}.md</span>
</div>

<div class="cmd-output">
    <div class="file-header"
        style="color: var(--comment-color); margin-bottom: 1rem; border-bottom: 1px solid var(--border-color); padding-bottom: 0.5rem;">
        # Project: {{ page.project }} <br>
        # Date: {{ page.date | date: "%Y-%m-%d" }}
    </div>

    <div class="post-content">
        {{ content }}
    </div>

    <div class="post-footer" style="margin-top: 3rem; border-top: 1px dashed var(--border-color); padding-top: 1rem;">
        <a href="{{ site.baseurl }}/projects/{{ page.project_slug }}/" style="color: var(--accent-yellow);">cd ..</a>
        <span style="color: var(--comment-color);">(Back to project)</span>
    </div>
</div>